In [53]:
#pandas is a library its contain lot of methods related to Dataset
import pandas as pd
dataset=pd.read_csv("Salary_Data.csv") #read the data from CSV file and stored to dataset variable
dataset

    YearsOfExperience  Salary
0                 1.0   32017
1                 1.2   34034
2                 1.3   35984
3                 1.5   37022
4                 1.8   40234
5                 2.0   42974
6                 2.3   44985
7                 2.6   46984
8                 2.7   47983
9                 3.0   50934
10                5.0   61920
11                6.0   67902
12                6.2   69834
13                7.0   74926
14                8.0   82736
15               10.0   96465
16                9.1   87249
17                9.0   85739
18                8.4   83987
19                7.6   79023
20                7.9   81929
21                8.1   83749
22                9.2   91849

In [54]:
#split the input and output values from the dataset and assign to the variables
independent=dataset[["YearsOfExperience"]]
dependent=dataset[["Salary"]]

In [55]:
#sklearn is library its contain lot of methods related to Machine Learning
from sklearn.model_selection import train_test_split
#split the dataset to trainset and testset and assign the value to corresponding variables
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [56]:
#import LinearRegression class
from sklearn.linear_model import LinearRegression
regressor=LinearRegression() # Assign all the methods from LinearRegression class to regressor variable
regressor.fit(X_train,Y_train) #Pass the trainset values to fit method for creating Model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [57]:
#Find the values of weight and bais through our model
weight=regressor.coef_
bais=regressor.intercept_

In [58]:
weight

array([[6662.49002414]])

In [59]:
bais

array([28474.22032028])

In [71]:
#Find the test output prediction through testset input value
y_pred=regressor.predict(X_test)
y_pred

array([[68449.16046511],
       [61786.67044097],
       [82440.3895158 ],
       [81774.14051338],
       [81107.89151097],
       [36469.20834924],
       [75111.65048925]])

In [61]:
#import r2_score for evaluvating the prediction value
from sklearn.metrics import r2_score
r2_score=r2_score(Y_test,y_pred)

r2_score

In [62]:
#check the r2_score value ,if its near by 1 our model is correct if its near by 0 our model is wrong
r2_score

0.9948967535938478

In [63]:
#pickle is library its used for save and load our model
import pickle
filename="finalized_model_linear.sav"
pickle.dump(regressor,open(filename,'wb'))

In [64]:
#Load our saved model
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))

In [69]:
#pass the input value and find the predicted result
result=loaded_model.predict([[15]])

In [70]:
result

array([[128411.57068235]])